In [1]:
# Imports
import mysql.connector as connector

In [2]:
# Connecting to the database with error handling.
try:
     connection = connector.connect(
          user = "root",
          password = "Tib4lt_cosmic_!mpo$ter",
          db = 'littlelemondb'
          )
except connector.Error as e:
     print(f'Error connecting to database: {e}')

In [3]:
# Instantiating the cursor
cursor = connection.cursor()

In [10]:
# Code cell for refreshing to a new cursor.
cursor.close()
cursor = connection.cursor()

In [16]:
# Code cell for reading unread results and discarding remaining results
cursor.fetchall()

[]

In [ ]:
# SQL Queries
qry_show_tables = '''
SHOW TABLES;
'''

qry_promotional_sales_data = '''
SELECT
     CONCAT(c.CustomerFirstName, ' ', c.CustomerLastName) AS 'Full Name',
     c.CustomerPhone AS 'Customer Phone',
     c.CustomerEmail AS 'Customer Email',
     SUM(oi.Quantity * mi.ItemCost) AS 'Order Cost'
FROM
     Customers c
JOIN
     Orders o ON o.OrderCustomerID = c.CustomerID
JOIN
     OrderItems oi ON oi.OrderID = o.OrderID
JOIN
     MenuItems mi ON mi.ItemID = oi.ItemID
GROUP BY
    c.CustomerID, c.CustomerFirstName, c.CustomerLastName, 
    c.CustomerPhone, c.CustomerEmail
HAVING
     SUM(oi.Quantity * mi.ItemCost) > 60;
'''

# Shows all stored procedures in the database.
qry_show_procedures = '''
SHOW PROCEDURE STATUS WHERE Db = DATABASE();
'''

In [5]:
# Executing Queries
cursor.execute(qry_show_tables)
results = sorted(result[0] for result in cursor.fetchall())

print(f'Displaying all tables:')
for result in results:
     print(f'- {result}')

Displaying all tables:
- bookings
- customers
- deliverystatus
- menu
- menuitems
- menus
- orderitems
- orders
- ordersview
- staff

In [6]:
'''
Little Lemon would like the following data:
From Customers Table:
- Full Name
- Email
- Phone Number

For every order >$60
'''

cursor.execute(qry_promotional_sales_data)
results = sorted(cursor.fetchall())

print(f'Customers valid for upcoming promotion:')
print(f'Full Name | Phone Number | Email | Total Order Cost\n')
for result in results:
     print(f'{result[0]}, {result[1]}, {result[2]}, ${result[3]}')

Customers valid for upcoming promotion:
Full Name | Phone Number | Email | Total Order Cost

Elena Conti, 5551002004, elena.conti@example.com, $68
Sophia Rossi, 5551002000, sophia.rossi@example.com, $72

In [18]:
'''
Added this to help out any peer reviewers who actually go through the code.
You're warriors, META doesn't even do the bare minimum in this course.

This query pulls any stored procedures, and their status + creation time etc.
I've filtered it with a for loop to only show the procedure names.

This way you can see they're there without needing to sift through other shit.
'''
cursor.execute(qry_show_procedures)
results = sorted(cursor.fetchall())

for result in results:
     print(f'- {result[1]}')

- AddBooking
- AddValidBooking
- CancelBooking
- CancelOrder
- CheckBooking
- GetMaxQuantity
- RESET_ALL_DATA
- Test
- UpdateBooking